<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Upload CSV file</title>
        <link rel="icon" href="img/webghat-logo.png" type="image/x-icon" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
        <!-- CSS -->
        <link rel="stylesheet" href="css/mdb.min.css" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
       <%-include("header")-%>

        <div class="container my-5">
            <div class="row justify-content-center text-center mb-4">
                <h2>Upload a CSV file</h2>
            </div>


                       

            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
                          <!-- start -->
                       <div class="mb-4 alert-messages">
                            <%if(success.length>0){%>
                                <div class="alert success">
                                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                    <%=success%>
                                </div>
                            <%}else{%>
                                <%if(danger.length>0){%>
                                    <div class="alert fail">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                        <%=danger%>
                                    </div>
                                <%}%>
                            <%}%>
                        </div>
                        <!-- end -->

                    <form method="POST" action="/" enctype="multipart/form-data">
                        <label for="basic-url" class="form-label">Person details</label>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="name" class="form-control" name="name" />
                                    <label class="form-label" for="name">Your Name *</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="email" class="form-control" name="email" />
                                    <label class="form-label" for="email">Email *</label>
                                </div>
                            </div>
                        </div>
                        <label for="basic-url" class="form-label">Details about data being uploaded! *</label>
                        <div class="form-outline mb-4">
                            <input type="text" id="domain" class="form-control" name="domain" />
                            <label class="form-label" for="domain">What industry/domain the data belongs to? *</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="area" class="form-control" name="area" />
                            <label class="form-label" for="area">Which area/city does the data represents? *</label>
                        </div>
                        <!-- The below two fields will automatically calculated from the file -->
                        <!-- <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="number" id="totalEntries" class="form-control" />
                                    <label class="form-label" for="totalEntries">Total number of entries in the file</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="number" id="emailCount" class="form-control" />
                                    <label class="form-label" for="emailCount">Total e-mail count in the file</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-outline mb-4">
                            <input type="file" class="form-control" id="dataFile" name="file" />
                        </div>
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="form6Example7" rows="4" name="message"></textarea>
                            <label class="form-label" for="form6Example7">Note (Type of emails covered, Source of data, Pages covered on google search results, etc) *</label>
                        </div>



                        <!-- Also collect date and time of form submission to store in database and display it on getData page -->
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-danger btn-block mb-4">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- JS -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
    </body>
</html>